/* calendar header */
.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-toolbar-chunk:nth-child(2) {
  border: 1px solid #999999 !important;
  border-radius: 5px;
}

.fc-toolbar-title {
  width: 244px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  font-weight: 600;
}

.fc-button-primary {
  background-color: transparent !important; /* 기본 배경색 제거 */
  color: inherit !important; /* 상속받는 색으로 설정 */
  border: none !important; /* 기본 테두리 제거 */
}

.fc-icon {
  font-size: 1.8rem !important;
  color: var(--main02);
}

.fc-icon:hover {
  color: var(--main01);
}

.fc-theme-standard .fc-scrollgrid {
  border-top: 2px solid #000;
}

.fc-col-header > thead > tr {
  border-bottom: 2px solid #000;
}

/* 요일 */
.fc-col-header-cell-cushion {
  padding: 8px !important;
  font-weight: 500;
}

.fc-day {
  cursor: pointer;
}

.fc-day:hover {
  background-color: var(--main04);
}

.fc-day-today {
  background-color: transparent !important; /* 기본 배경색 제거 */
}

.fc .fc-daygrid-day-top {
  padding-left: 4px;
  flex-direction: row;
}
