@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
:root {
  --main01: #0065bd;
  --main02: #1976e5;
  --main03: #989ff1;
  --main04: #e4f2fe;

  --gray01: #202020;
  --gray02: #363636;
  --gray03: #505050;
  --gray04: #858585;
  --gray05: #a4a4a4;
  --gray06: #f1f1f1;
}

/* font */
@font-face {
  font-weight: 100;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Thin.woff") format("woff"),
    url("/fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-weight: 300;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Light.woff") format("woff"),
    url("/fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-weight: 400;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("/fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-weight: 500;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("/fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-weight: 700;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-weight: 900;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("/fonts/NotoSansKR-Black.woff") format("woff"),
    url("/fonts/NotoSansKR-Black.otf") format("opentype");
}

/* 페이지 설정 */
html,
body {
  color: #000;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "NotoSansKR", sans-serif;
}

body,
div {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* input 공통 */
input,
textarea {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 3px;
  border: solid 1px #d4d4d4;
}

input:disabled,
textarea:disabled,
input:disabled::placeholder,
textarea:disabled::placeholder {
  color: #707070;
  background-color: #4a4a4a;
  -webkit-text-fill-color: #707070;
}

input::placeholder,
textarea::placeholder {
  color: #a4a4a4;
}

input:not(:disabled),
textarea:not(:disabled) {
  color: #363636;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #1976e5 inset;
}

input[data-type="error"],
textarea[data-type="error"] {
  box-shadow: 0 0 0 2px #ff1919 inset !important;
}
.main-title {
  font-size: 1.6rem;
  text-align: left;
  color: var(--main-title-1);
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfcdcd;
  margin: 0px 0px 10px;
}
.main-body {
  height: calc(100% - 54.61px);
  overflow: auto;
}
.main-body::-webkit-scrollbar {
  width: 0;
}

/* React-select */
.select__input {
  box-shadow: none !important;
}

.select__control {
  border: solid 1px #d4d4d4;
}

/* input radio */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 12px 51px 9px 122px;
  object-fit: contain;
  border: solid 1px #b8b8b8;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked:hover {
  border: 4px solid #1976e5;
  background-color: #fff;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="radio"]:disabled {
  background-color: #f1f1f1;
}

/* 체크박스 기본 스타일 숨기기 */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  /* position: relative; */
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
  background-image: url("./../../public//images//icons/checkbox/basic.svg");
  background-size: cover;
}

input[type="checkbox"]:focus {
  box-shadow: none;
}
/* 체크된 상태 */
input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover {
  background-image: url("./../../public//images//icons/checkbox/checked.svg");
  background-size: cover;
}
input[type="checkbox"]:disabled {
  background-image: url("./../../public//images//icons/checkbox/disabled.svg");
  background-size: cover;
}
.main-layer {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e1e1e1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px); /* 아래에서 위로 올라오는 애니메이션 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px); /* 사라지며 위로 올라가는 애니메이션 */
  }
}

/* react-select 메뉴에 적용될 애니메이션 스타일 */
.select__menu {
  animation: fadeIn 0.2s ease-in;
}

.select__menu--exit {
  animation: fadeOut 0.2s ease-out;
}
.lastDepth {
  margin-right: 0 !important;
}
