/* closeTrigger.css */
.closeTrigger {
  position: absolute;
  top: 50%;
  right: 7px;
  transform-origin: center;
  transform: translateY(-50%);
  /* background-color: #a33b3b; */
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.tabContainer.active > .closeTrigger::before,
.tabContainer.active > .closeTrigger::after {
  background-color: #fff;
}

.closeTrigger::before,
.closeTrigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 2px;
  height: 12px;
  background-color: #858585;
  transform-origin: center;
}

.closeTrigger::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.closeTrigger::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
/* Tab 타이틀 스타일 */
.tabTitle {
  font-size: 14px;
  user-select: none;
}
/* Tabs 컨테이너 스타일 */
.tabsContainer {
  display: flex;
  gap: 10px; /* 탭 간의 간격 */
  margin-bottom: 20px;
}

/* 개별 Tab 스타일 */
.tabContainer {
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  border-radius: 10px 10px 0 0;
  margin-top: 14px;
  color: gray;
  height: 28px;
  border: solid 1px #e1e1e1;
  border-bottom: none;
}
.tabContainer:hover {
  background-color: #e4f2fe;
}

/* 활성화된 Tab 스타일 */
.tabContainer.active {
  background-color: var(--color-primary, #1976e5);
  /* border: 1px solid var(--border-color, #3498db); */
  border-bottom: none;
  color: white;
  height: 32px;
  margin-top: 10px;
  /* padding: 4px 9px 5px 9px; */
}
.tabContainer.active:hover {
  background-color: #0065bd;
}

/* Tab을 hover할 때 닫기 버튼 표시 */
.tabContainer:hover .tab-close-trigger {
  display: flex;
}
