@keyframes expandWidth {
  from {
    width: 76px;
  }
  to {
    width: 350px; /* 사이드바의 최종 너비 */
  }
}

@keyframes collapseWidth {
  from {
    width: 350px; /* 사이드바의 초기 너비 */
  }
  to {
    width: 76px;
  }
}

.sidebar {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sidebarEnter {
  animation: expandWidth 0.5s forwards;
}

.sidebarExit {
  animation: collapseWidth 0.5s forwards;
}
